.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 400px;
  background: #111a33;
  padding: 20px;
  border-radius: 12px;

  display: flex;
  flex-direction: column;
  gap: 12px;
}

input {
  padding: 10px;
  border-radius: 6px;
  border: none;
}

button {
  padding: 10px;
  border-radius: 6px;
  border: none;
  background: #6a00ff;
  color: white;
  cursor: pointer;
}

.status {
  font-weight: bold;
  text-align: center;
}