.header {
  width: 100%;
  max-width: 1150px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  padding: 10px 0 26px;
  color: white;
  text-align: center;
}

.header h1 {
  font-size: 38px;
  font-weight: 800;
  letter-spacing: 0.2px;
}

.header p {
  opacity: 0.9;
  font-size: 14px;
}